.background{
  background-color:#f1f1f1;
}
.child{
  width: 50%;
  float: left;
}
.progress{
  display: flex;
  align-items: center;
  background-color:#4c87af;
}
.logo{
  height: 2em;
  margin: 1em;
}

/* Mobile devices */
@media only screen and (max-width: 800px) {
  .child{
      width: 100%;
      float: left;
  }
}